body {
	font-size: 16px;
}

h1 {	
	font-family: 'Josefin Slab', serif;	
}

h2 {
	font-family: 'Josefin Slab', serif;		
	font-size: 3em;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.row-height {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;    
}


.text-centered {
	text-align: center;
}

.col-middle {
	vertical-align: middle;
}

.wrapper-center {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;      
}

.inner-center {  
	display: table-cell;	
	float: none;		
	height: 100%;		
	vertical-align: middle;
}

@media (min-width: 480px) {			
}

@media (min-width: 768px) {		
}

@media (min-width: 992px) {
	html, header, body, section, header > .container-fluid, header > .container-fluid > .row {
		height: 100%;	
	}

	.col-md-height {
		display: table-cell;	
		float: none;		
		height: 100%;
	}
}

@media (min-width: 1200px) {

}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}
